/*————————*/
/* Resets */
/*————————*/

/* Resets default browser styles on some common elements to make them easier to work with */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}

/* Buttons */

button {
  appearance:none;
  background:transparent;
  border:0;
  padding:0;
  cursor:pointer;
  font:inherit;
  text-align:inherit;
}

button:active,
button:focus {
  outline:none;
}

/* Lists */

ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Images */

img{
	display: block;
	width: 100%;
}

/* SVG */

svg{
	display: block;
}
